@font-face {
    font-family: 'capture_it';
    src: url('Capture_it.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dited';
    src: url('Dited.otf');
    font-weight: normal;
    font-style: normal;
}


